exercise-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://example.net/library/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="books">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="book">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="author">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="surname" type="xs:string" />
                          <xs:element name="born" type="xs:date" />
                          <xs:element minOccurs="0" name="died" type="xs:date" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="published" type="xs:unsignedShort" />
                    <xs:element minOccurs="0" name="isbn" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>